@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  color: white;
  background: black;
}
@media only screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
}

h1,
.h1 {
  font-size: 34px;
  line-height: 1.2;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Unbounded", sans-serif;
}
@media only screen and (max-width: 1199px) {
  h1,
  .h1 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 767px) {
  h1,
  .h1 {
    font-size: 28px;
  }
}

h2,
.h2 {
  font-family: "Unbounded", sans-serif;
  font-size: 24px;
  line-height: 1.1;
  font-weight: 800;
}
@media only screen and (max-width: 1199px) {
  h2,
  .h2 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 767px) {
  h2,
  .h2 {
    font-size: 32px;
  }
}

h3,
.h3 {
  font-family: "Unbounded", sans-serif;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 800;
}
@media only screen and (max-width: 991.98px) {
  h3,
  .h3 {
    font-size: 26px;
  }
}
@media only screen and (max-width: 767px) {
  h3,
  .h3 {
    font-size: 24px;
  }
}

h5,
.h5,
.our-services__text-content ul li a {
  font-size: 24px;
  line-height: 1.6;
  font-weight: 600;
}
@media only screen and (max-width: 767px) {
  h5,
  .h5,
  .our-services__text-content ul li a {
    font-size: 20px;
  }
}

h6,
.h6 {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 600;
}
@media only screen and (max-width: 767px) {
  h6,
  .h6 {
    font-size: 14px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
.h1,
.h2,
.h3,
.h4,
.h5,
.our-services__text-content ul li a,
.h6,
h6 {
  margin: 0;
  padding: 0;
  letter-spacing: normal;
}

.copy-xs {
  font-size: 12px;
  line-height: 1.6;
}

.copy-sm {
  font-size: 14px;
  line-height: 1.6;
}

.container {
  max-width: 1600px;
  padding: 0 32px;
}
@media only screen and (max-width: 767px) {
  .container {
    padding: 0 24px;
  }
}

.image-ratio {
  position: relative;
  width: 100%;
}
.image-ratio > img,
.image-ratio > video,
.image-ratio > iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.image-ratio--16-9 {
  padding-top: 56.25%;
}
.image-ratio--square {
  padding-top: 100%;
}
.image-ratio--contain > img,
.image-ratio--contain > video,
.image-ratio--contain > iframe {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.btn-has-arrow {
  position: relative;
  font-size: 24px;
  line-height: 1;
  padding: 9px 56px 9px 24px;
  background: black;
  color: white;
  font-weight: 600;
  transition: 0.3s all ease;
}
@media only screen and (max-width: 767px) {
  .btn-has-arrow {
    font-size: 20px;
  }
}
.btn-has-arrow:hover {
  color: white;
  background: black;
  transform: scale(0.97);
}
.btn-has-arrow::after {
  content: "";
  display: block;
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 4px;
  background-position: center;
  background-size: 13px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M0.292489 14.2929C-0.0980349 14.6834 -0.0980349 15.3166 0.292489 15.7071C0.683014 16.0976 1.31618 16.0976 1.7067 15.7071L0.292489 14.2929ZM14.1718 0.413583L0.292489 14.2929L1.7067 15.7071L15.586 1.8278L14.1718 0.413583Z' fill='black'/%3E%3Cpath d='M15 1H16V0H15V1ZM14 15C14 15.5523 14.4477 16 15 16C15.5523 16 16 15.5523 16 15H14ZM1 2H15V0H1V2ZM14 1V15H16V1H14Z' fill='black'/%3E%3Cpath d='M15 1L15 9.53674e-07L16 9.09963e-07L16 1L15 1ZM1 2C0.447716 2 3.65856e-07 1.55229 3.41715e-07 1C3.17574e-07 0.447717 0.447716 1.58977e-06 1 1.56563e-06L1 2ZM14 15L14 1L16 1L16 15L14 15ZM15 2L1 2L1 1.56563e-06L15 9.53674e-07L15 2Z' fill='black'/%3E%3C/svg%3E");
}
@media only screen and (max-width: 767px) {
  .btn-has-arrow::after {
    width: 36px;
    height: 36px;
  }
}

.site-hero {
  position: relative;
  background: white;
  padding: 160px 0 64px;
  overflow: hidden;
  color: black;
  z-index: 5;
  border-radius: 24px;
}
@media only screen and (max-width: 767.98px) {
  .site-hero {
    padding: 115px 0 48px;
    border-radius: 16px;
  }
}
.site-hero .container {
  width: 100%;
  max-width: 890px;
  padding: 0 24px;
}
.site-hero__inner {
  position: relative;
  text-align: center;
  z-index: 2;
}
.site-hero__inner h5 {
  width: 100%;
  max-width: 630px;
  margin: 0 auto;
  font-weight: 400;
  margin-top: 20px;
}
.site-hero__inner h5 b {
  font-weight: 600;
}
.site-hero__inner .btn-wrapper {
  margin-top: 44px;
}
.site-hero__inner .rating-wrapper {
  margin-top: 20px;
}
.site-hero__inner .rating-wrapper img {
  width: 100%;
  max-width: 102px;
  height: auto;
  margin-bottom: 5px;
}
@media only screen and (max-width: 767px) {
  .site-hero__inner .rating-wrapper img {
    margin-bottom: 8px;
  }
}
@media only screen and (max-width: 767px) {
  .site-hero__inner .rating-wrapper p {
    width: 100%;
    max-width: 270px;
    margin: 0 auto;
  }
}
.site-hero .blurry.blurry--hero {
  top: 25%;
  transform: scale(1.5);
}
.site-hero .blurry.blurry--hero {
  animation: blurry-scale ease 7.5s infinite;
}
.site-hero .blurry {
  width: 100%;
  height: 100vh;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: 1;
}
@keyframes blurry-scale {
  0% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.5);
  }
}

.site-showcase {
  position: relative;
  z-index: 4;
  background-color: black;
}
@media only screen and (max-width: 767px) {
  .site-showcase {
    margin-top: -12px;
  }
}
.site-showcase__video {
  position: relative;
  z-index: 2;
}
.site-showcase .play-button {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  z-index: 9;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50' fill='none'%3E%3Cpath d='M35.4141 24.9996L19.7891 34.0207L19.7891 15.9785L35.4141 24.9996Z' fill='black'/%3E%3C/svg%3E");
  border-radius: 0.5rem;
  background-color: white;
}

.our-services {
  position: relative;
  padding: 122px 0;
  overflow: hidden;
  background-color: rgb(241, 241, 241);
  border-radius: 24px;
  color: black;
  z-index: 4;
}
@media only screen and (max-width: 991.98px) {
  .our-services {
    padding: 90px 0;
    border-radius: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .our-services {
    margin-top: -12px;
    padding: 56px 0;
  }
}
.our-services .container {
  position: relative;
  max-width: 1328px;
  padding: 0 24px;
  z-index: 2;
}
.our-services__text-content {
  width: 100%;
  max-width: 512px;
}
@media only screen and (max-width: 991.98px) {
  .our-services__text-content {
    max-width: 100%;
  }
}
.our-services__text-content .h1 {
  font-size: 40px;
}
@media only screen and (max-width: 767px) {
  .our-services__text-content .h1 {
    font-size: 30px;
  }
}
.our-services__text-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 48px;
}
@media only screen and (max-width: 767px) {
  .our-services__text-content ul {
    margin-top: 32px;
  }
}
.our-services__text-content ul li {
  position: relative;
}
.our-services__text-content ul li::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.5px;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.05);
  z-index: 1;
}
.our-services__text-content ul li::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.5px;
  width: 0;
  height: 1px;
  background: black;
  z-index: 2;
  transition: 0.25s all ease;
}
.our-services__text-content ul li:hover::before {
  width: 100%;
}
.our-services__text-content ul li a {
  position: relative;
  color: black;
  padding: 23px 0;
  text-decoration: none;
  display: block;
  font-weight: 700;
  transition: 0.25s all ease;
}
@media only screen and (max-width: 767px) {
  .our-services__text-content ul li a {
    padding: 20px 0;
  }
}
.our-services__text-content ul li a::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.09991 9.89971C0.547624 9.89971 0.0999084 10.3474 0.0999084 10.8997C0.0999084 11.452 0.547624 11.8997 1.09991 11.8997V9.89971ZM20.7282 9.89971H1.09991V11.8997H20.7282V9.89971Z' fill='black'%3E%3C/path%3E%3Cpath d='M20.8995 10.8995L21.6066 11.6066L22.3137 10.8995L21.6066 10.1924L20.8995 10.8995ZM10.2929 20.0919C9.90237 20.4824 9.90237 21.1156 10.2929 21.5061C10.6834 21.8966 11.3166 21.8966 11.7071 21.5061L10.2929 20.0919ZM10.2929 1.70711L20.1924 11.6066L21.6066 10.1924L11.7071 0.292893L10.2929 1.70711ZM20.1924 10.1924L10.2929 20.0919L11.7071 21.5061L21.6066 11.6066L20.1924 10.1924Z' fill='black'%3E%3C/path%3E%3Cpath d='M20.8995 10.8993L21.6066 10.1922L22.3137 10.8993L21.6066 11.6064L20.8995 10.8993ZM10.2929 1.70695C9.90237 1.31642 9.90237 0.683258 10.2929 0.292733C10.6834 -0.0977908 11.3166 -0.0977909 11.7071 0.292733L10.2929 1.70695ZM10.2929 20.0917L20.1924 10.1922L21.6066 11.6064L11.7071 21.5059L10.2929 20.0917ZM20.1924 11.6064L10.2929 1.70695L11.7071 0.292733L21.6066 10.1922L20.1924 11.6064Z' fill='black'%3E%3C/path%3E%3C/svg%3E");
  transition: 0.25s all ease;
  opacity: 1;
}
.our-services__text-content ul li a::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.09991 9.89971C0.547624 9.89971 0.0999084 10.3474 0.0999084 10.8997C0.0999084 11.452 0.547624 11.8997 1.09991 11.8997V9.89971ZM20.7282 9.89971H1.09991V11.8997H20.7282V9.89971Z' fill='black'%3E%3C/path%3E%3Cpath d='M20.8995 10.8995L21.6066 11.6066L22.3137 10.8995L21.6066 10.1924L20.8995 10.8995ZM10.2929 20.0919C9.90237 20.4824 9.90237 21.1156 10.2929 21.5061C10.6834 21.8966 11.3166 21.8966 11.7071 21.5061L10.2929 20.0919ZM10.2929 1.70711L20.1924 11.6066L21.6066 10.1924L11.7071 0.292893L10.2929 1.70711ZM20.1924 10.1924L10.2929 20.0919L11.7071 21.5061L21.6066 11.6066L20.1924 10.1924Z' fill='black'%3E%3C/path%3E%3Cpath d='M20.8995 10.8993L21.6066 10.1922L22.3137 10.8993L21.6066 11.6064L20.8995 10.8993ZM10.2929 1.70695C9.90237 1.31642 9.90237 0.683258 10.2929 0.292733C10.6834 -0.0977908 11.3166 -0.0977909 11.7071 0.292733L10.2929 1.70695ZM10.2929 20.0917L20.1924 10.1922L21.6066 11.6064L11.7071 21.5059L10.2929 20.0917ZM20.1924 11.6064L10.2929 1.70695L11.7071 0.292733L21.6066 10.1922L20.1924 11.6064Z' fill='black'%3E%3C/path%3E%3C/svg%3E");
  transition: 0.25s all ease;
  opacity: 0;
}
.our-services__text-content ul li a:hover {
  padding-left: 50px;
}
.our-services__text-content ul li a:hover::after {
  right: -20px;
  opacity: 0;
}
.our-services__text-content ul li a:hover::before {
  left: 0;
  opacity: 1;
}
.our-services__video {
  height: 100%;
}
.our-services__video .image-wrapper {
  margin-right: -14vw;
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
}
@media only screen and (max-width: 991.98px) {
  .our-services__video .image-wrapper {
    margin-right: 0;
  }
}
.our-services__video .image-wrapper .image-ratio {
  height: 100%;
}
.our-services .blurry {
  width: 100%;
  height: 100vh;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: 1;
}
.our-services .blurry.blurry--services {
  width: 45rem;
  height: 45rem;
  top: 18%;
  bottom: 0%;
  left: auto;
  right: 23%;
  transform: rotate(-70deg);
}
@media only screen and (max-width: 1440px) {
  .our-services .blurry.blurry--services {
    right: 10%;
  }
}
@media only screen and (max-width: 767px) {
  .our-services .blurry.blurry--services {
    right: -50%;
    top: 38%;
  }
}

.the-bangers {
  position: relative;
  overflow: hidden;
  padding: 128px 0;
  background: black;
  color: white;
  z-index: 4;
}
@media only screen and (max-width: 991.98px) {
  .the-bangers {
    padding: 90px 0;
    border-radius: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .the-bangers {
    padding: 56px 0;
  }
}
.the-bangers .swiper-arrows-wrapper {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  align-items: flex-end;
  font-weight: 700;
  display: flex;
}
@media only screen and (max-width: 767px) {
  .the-bangers .swiper-arrows-wrapper {
    width: 100%;
    justify-content: space-between;
  }
}
.the-bangers .swiper-arrows-wrapper.is--compare {
  margin-top: 20px;
}
.the-bangers .swiper-arrows-wrapper.is--cases {
  grid-column-gap: 1.75rem;
  justify-content: flex-end;
}
.the-bangers .swiper-icon {
  width: 1.3rem;
  height: 1.3rem;
  background-image: url("https://assets-global.website-files.com/64dcf2472ced385dfa68406f/64dcf2472ced385dfa6840b4_arr-prev.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
.the-bangers .swiper-icon.icon-next {
  background-image: url("https://assets-global.website-files.com/64dcf2472ced385dfa68406f/64dcf2472ced385dfa6840b5_arr-next.svg");
}
.the-bangers .swiper-button {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  background-color: rgb(24, 24, 24);
  color: white;
  cursor: pointer;
  border-radius: 4px;
  align-items: center;
  padding: 6px 8px;
  display: flex;
}
.the-bangers__title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 48px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  .the-bangers__title {
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    padding-bottom: 32px;
  }
}
.the-bangers__title .h1 {
  font-size: 4.2vw;
  line-height: 1;
}
@media only screen and (max-width: 767px) {
  .the-bangers__title .h1 {
    font-size: 30px;
  }
}
.the-bangers__swiper {
  border-top: 1px solid rgb(38, 38, 38);
  padding-top: 32px;
}
.the-bangers__swiper .swiper {
  overflow: visible;
}
.the-bangers__swiper .swiper .swiper-wrapper {
  overflow: visible;
}
.the-bangers__swiper .swiper .swiper-wrapper .swiper-slide .image-wrapper {
  border-radius: 8px;
  overflow: hidden;
}
.the-bangers__swiper .swiper .swiper-wrapper .swiper-slide .image-wrapper .image-ratio {
  padding-top: 130%;
}

.who-we-are {
  position: relative;
  padding: 320px 0;
  overflow: hidden;
  border-radius: 24px;
  background: rgb(241, 241, 241);
  color: black;
  z-index: 4;
}
@media only screen and (max-width: 991.98px) {
  .who-we-are {
    padding: 90px 0;
    border-radius: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .who-we-are {
    padding: 56px 0;
  }
}
@media only screen and (max-width: 767px) {
  .who-we-are__title h3 {
    font-size: 30px;
  }
}
.who-we-are .container {
  position: relative;
  max-width: 1328px;
  padding: 0 24px;
  z-index: 2;
}
.who-we-are__benefits {
  margin-top: 64px;
}
@media only screen and (max-width: 767px) {
  .who-we-are__benefits {
    margin-top: 32px;
  }
}
.who-we-are__benefits--each {
  padding: 16px;
  border-radius: 8px;
  background: white;
  text-align: center;
}
.who-we-are__benefits--each h3 {
  font-size: 48px;
  line-height: 1;
}
@media only screen and (max-width: 767px) {
  .who-we-are__benefits--each h3 {
    font-size: 28px;
  }
}
.who-we-are__benefits--each hr {
  opacity: 0.05;
  background: black;
}
@media only screen and (max-width: 767px) {
  .who-we-are__benefits--each hr {
    margin: 10px 0;
  }
}
@media only screen and (max-width: 767px) {
  .who-we-are__benefits--each p {
    line-height: 1.3;
  }
}
.who-we-are .btn-wrapper {
  margin-top: 62px;
}
@media only screen and (max-width: 767px) {
  .who-we-are .btn-wrapper {
    margin-top: 32px;
  }
}
.who-we-are .abs-vid {
  width: 70%;
  height: 100%;
  position: absolute;
  top: 2%;
  bottom: 0%;
  left: auto;
  right: 0%;
  z-index: 1;
}
.who-we-are .vid-embed {
  width: 100%;
  height: 100%;
  max-width: 100%;
}
.who-we-are .w-embed:before,
.who-we-are .w-embed:after {
  content: " ";
  grid-area: 1/1/2/2;
  display: table;
}
.who-we-are #player {
  height: 100%;
  width: 100%;
}

.the-process {
  position: relative;
  margin: 256px 0 0;
  border-radius: 24px;
  background: rgb(241, 241, 241);
  color: black;
  overflow-x: clip;
  z-index: 9;
}
@media only screen and (max-width: 991.98px) {
  .the-process {
    margin-top: 90px;
  }
}
.the-process.bottom-radius-only {
  border-radius: 0;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
.the-process__title {
  display: flex;
  align-items: flex-end;
  gap: 48px;
  padding-top: 64px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 9;
}
@media only screen and (max-width: 991.98px) {
  .the-process__title {
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
}
@media only screen and (max-width: 767px) {
  .the-process__title {
    padding-top: 28px;
  }
}
.the-process__title h2 {
  font-size: 56px;
  line-height: 1;
}
@media only screen and (max-width: 767px) {
  .the-process__title h2 {
    font-size: 32px;
  }
}
.the-process .swiper-progress {
  flex-grow: 1;
  margin-bottom: 8px;
}
@media only screen and (max-width: 991.98px) {
  .the-process .swiper-progress {
    width: 100%;
  }
}
.the-process .swiper-progress .swiper-scrollbar {
  position: relative;
  top: unset;
  left: unset;
  bottom: unset;
  right: unset;
  transform: none;
  border-radius: 4px;
  background-color: white;
  height: 24px;
  width: 100%;
}
@media only screen and (max-width: 991.98px) {
  .the-process .swiper-progress .swiper-scrollbar {
    height: 22px;
  }
}
@media only screen and (max-width: 767px) {
  .the-process .swiper-progress .swiper-scrollbar {
    height: 24px;
  }
}
.the-process .swiper-progress .swiper-scrollbar .swiper-scrollbar-drag {
  border-radius: 4px;
  background-color: black;
  cursor: grab;
}
.the-process .swiper-progress .swiper-scrollbar .swiper-scrollbar-drag::after {
  content: "DRAG";
  font-size: 14px;
  line-height: 1.02;
  font-weight: 800;
  font-family: "Unbounded", sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
@media only screen and (max-width: 991.98px) {
  .the-process .swiper-progress .swiper-scrollbar .swiper-scrollbar-drag::after {
    font-size: 12px;
  }
}
@media only screen and (max-width: 767px) {
  .the-process .swiper-progress .swiper-scrollbar .swiper-scrollbar-drag::after {
    font-size: 14px;
  }
}
.the-process .blurry {
  width: 100%;
  height: 100vh;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
.the-process .blurry--proc {
  width: 40rem;
  height: 40rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: scale(1.2);
  bottom: auto;
  top: -32%;
}
@media only screen and (max-width: 767px) {
  .the-process .blurry--proc {
    top: -12%;
    left: -31%;
    transform: scale(1);
  }
}
.the-process__swiper {
  margin-top: 48px;
}
@media only screen and (max-width: 767px) {
  .the-process__swiper {
    margin-top: 24px;
  }
}
.the-process__swiper .swiper {
  overflow: visible;
}
.the-process__swiper .swiper .swiper-wrapper {
  overflow: visible;
}
.the-process__swiper .swiper .swiper-wrapper .swiper-slide .the-process__step {
  border-radius: 8px;
  overflow: hidden;
  padding: 16px;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  background-color: white;
  min-height: 205px;
}
@media only screen and (max-width: 767px) {
  .the-process__swiper .swiper .swiper-wrapper .swiper-slide .the-process__step {
    flex-direction: column;
    gap: 8px;
  }
}
.the-process__swiper .swiper .swiper-wrapper .swiper-slide .the-process__step--no {
  font-size: 18px;
  flex-shrink: 0;
}
.the-process__swiper .swiper .swiper-wrapper .swiper-slide .the-process__step h3 {
  margin-bottom: 16px;
}
@media only screen and (max-width: 767px) {
  .the-process__swiper .swiper .swiper-wrapper .swiper-slide .the-process__step h3 {
    margin-bottom: 14px;
  }
}
.the-process__swiper .swiper .swiper-wrapper .swiper-slide .the-process__step--text p {
  font-size: 22px;
}
@media only screen and (max-width: 767px) {
  .the-process__swiper .swiper .swiper-wrapper .swiper-slide .the-process__step--text p {
    font-size: 18px;
    line-height: 1.4;
  }
}

.the-flat-free {
  position: relative;
  padding: 128px 0;
  border-radius: 24px;
  background: rgb(241, 241, 241);
  color: black;
  overflow: hidden;
  z-index: 4;
}
@media only screen and (max-width: 991.98px) {
  .the-flat-free {
    padding: 90px 0;
    border-radius: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .the-flat-free {
    padding: 56px 0;
  }
}
.the-flat-free.top-radius-only {
  border-radius: 0;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
.the-flat-free__title {
  text-align: center;
  margin-bottom: 64px;
}
@media only screen and (max-width: 767px) {
  .the-flat-free__title {
    margin-bottom: 40px;
  }
}
.the-flat-free__title h2 {
  font-size: 5vw;
}
@media only screen and (max-width: 767px) {
  .the-flat-free__title h2 {
    font-size: 32px;
  }
}
.the-flat-free__all {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.the-flat-free__all--each {
  color: black;
}
.the-flat-free__left {
  background-color: white;
  padding: 32px 24px;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  min-height: 704px;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 991.98px) {
  .the-flat-free__left {
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
@media only screen and (max-width: 767px) {
  .the-flat-free__left {
    padding: 20px;
  }
}
.the-flat-free__left .title-block,
.the-flat-free__left .price-block {
  text-align: center;
}
.the-flat-free__left .title-block {
  margin-bottom: 16px;
}
@media only screen and (max-width: 767px) {
  .the-flat-free__left .title-block h3 {
    font-size: 28px;
  }
}
.the-flat-free__left .price-block {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.the-flat-free__left .price-block .original-price {
  font-size: 18px;
  font-weight: 600;
  display: block;
  text-decoration: line-through;
  line-height: 1;
}
.the-flat-free__left .price-block .sale-price {
  font-size: 56px;
  font-weight: 700;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  line-height: 1;
}
@media only screen and (max-width: 767px) {
  .the-flat-free__left .price-block .sale-price {
    font-size: 42px;
  }
}
.the-flat-free__left .price-block .sale-price span {
  font-size: 24px;
  font-weight: 600;
}
.the-flat-free__left .list-block {
  margin-top: 12px;
}
.the-flat-free__left .list-block ul {
  margin: 0;
  padding: 0;
}
.the-flat-free__left .list-block ul li {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 24px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
@media only screen and (max-width: 767px) {
  .the-flat-free__left .list-block ul li {
    gap: 20px;
  }
}
.the-flat-free__left .list-block ul li:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.the-flat-free__left .list-block ul li .icon-wrapper {
  width: 100%;
  max-width: 48px;
  font-size: 0;
  line-height: 0;
}
@media only screen and (max-width: 767px) {
  .the-flat-free__left .list-block ul li .icon-wrapper {
    max-width: 40px;
  }
}
.the-flat-free__left .list-block ul li .icon-wrapper svg,
.the-flat-free__left .list-block ul li .icon-wrapper img {
  width: 100%;
  height: auto;
}
.the-flat-free__left .video-block {
  margin-top: auto;
}
.the-flat-free__left .video-block a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-decoration: none !important;
  color: black;
}
.the-flat-free__left .video-block a .icon-wrapper {
  width: 100%;
  max-width: 24px;
  font-size: 0;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  border-radius: 4px;
  overflow: hidden;
}
.the-flat-free__left .video-block a .icon-wrapper svg,
.the-flat-free__left .video-block a .icon-wrapper img {
  width: 100%;
  height: auto;
}
.the-flat-free__left .btn-block {
  margin-top: 56px;
}
@media only screen and (max-width: 767px) {
  .the-flat-free__left .btn-block {
    margin-top: 40px;
  }
}
.the-flat-free__right {
  height: 100%;
  position: relative;
  background-color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
@media only screen and (max-width: 991.98px) {
  .the-flat-free__right {
    padding-top: 80%;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.the-flat-free__right img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  overflow: hidden;
}

.view-cases {
  position: relative;
  padding: 128px 0;
  background-color: black;
  color: white;
  z-index: 4;
}
@media only screen and (max-width: 991.98px) {
  .view-cases {
    padding: 90px 0;
    border-radius: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .view-cases {
    padding: 56px 0;
  }
}
.view-cases__title {
  margin-bottom: 48px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .view-cases__title {
    margin-bottom: 32px;
  }
}
.view-cases__title h2 {
  font-size: 8vw;
}
@media only screen and (max-width: 767px) {
  .view-cases__title h2 {
    font-size: 34px;
  }
}
.view-cases__all {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media only screen and (max-width: 767px) {
  .view-cases__all {
    gap: 24px;
  }
}
.view-cases__all--each {
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}
@media only screen and (max-width: 991.98px) {
  .view-cases__all--each {
    display: flex;
    flex-direction: column-reverse;
  }
}
.view-cases__all--each .image-wrapper {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  z-index: 1;
}
@media only screen and (max-width: 767px) {
  .view-cases__all--each .image-wrapper .image-ratio {
    padding-top: 120%;
  }
}
.view-cases__all--each .image-wrapper .image-ratio img {
  transition: 0.6s all ease;
}
.view-cases__all--each .product-bar {
  text-decoration: none;
  color: white;
}
.view-cases__all--each .product-bar:hover + .image-wrapper .image-ratio img {
  transform: scale(1.03);
}
.view-cases__all--each .product-bar__inner {
  position: absolute;
  width: calc(100% - 32px);
  left: 50%;
  bottom: 16px;
  transform: translateX(-50%);
  background-color: rgb(24, 24, 24);
  border-radius: 8px;
  overflow: hidden;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
@media only screen and (max-width: 991.98px) {
  .view-cases__all--each .product-bar__inner {
    position: relative;
    top: 0;
    left: unset;
    width: 100%;
    transform: none;
    margin: 0;
    background-color: transparent;
    padding: 14px 0;
    border-bottom: 1px solid rgb(38, 38, 38);
  }
}
.view-cases__all--each .product-bar .the-product {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
}
.view-cases__all--each .product-bar .the-product .image-wrapper {
  width: 100%;
  max-width: 80px;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
}
.view-cases__all--each .product-bar .the-product .image-wrapper .image-ratio {
  padding-top: 100%;
}
@media only screen and (max-width: 991.98px) {
  .view-cases__all--each .product-bar .the-product .image-wrapper {
    width: 100%;
    max-width: 45px;
  }
}
.view-cases__all--each .product-bar .the-product h5 {
  white-space: nowrap;
}
@media only screen and (max-width: 991.98px) {
  .view-cases__all--each .product-bar .the-product h5 {
    font-size: 17px;
  }
}
@media only screen and (max-width: 991.98px) {
  .view-cases__all--each .view-case {
    display: none;
  }
}
.view-cases__all--each .plus-icon-wrapper {
  width: 100%;
  max-width: 80px;
  height: 80px;
  border-radius: 8px;
  overflow: hidden;
  background-color: black;
}
@media only screen and (max-width: 991.98px) {
  .view-cases__all--each .plus-icon-wrapper {
    max-width: 45px;
    height: 45px;
    background-color: rgb(24, 24, 24);
  }
}
.view-cases__all--each .plus-icon-wrapper .plus {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}
.view-cases__all--each .plus-icon-wrapper .plus-line {
  width: 40%;
  height: 2px;
  background-color: white;
  position: absolute;
}
.view-cases__all--each .plus-icon-wrapper .plus-line.x-line-second {
  transition: transform 0.2s;
  transform: rotate(90deg);
}

.our-apps {
  position: relative;
  padding: 128px 0;
  border-radius: 24px;
  background: rgb(241, 241, 241);
  color: black;
  overflow: hidden;
  z-index: 4;
}
@media only screen and (max-width: 991.98px) {
  .our-apps {
    padding: 90px 0;
    border-radius: 16px;
  }
}
@media only screen and (max-width: 767.98px) {
  .our-apps {
    padding: 56px 0;
  }
}
.our-apps .container {
  max-width: 1344px;
}
.our-apps__title {
  margin-bottom: 64px;
}
@media only screen and (max-width: 767.98px) {
  .our-apps__title {
    margin-bottom: 48px;
  }
}
@media only screen and (max-width: 767.98px) {
  .our-apps__title h3 {
    font-size: 26px;
  }
  .our-apps__title h3 br {
    display: none;
  }
}
.our-apps__all {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.our-apps__all--each {
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  padding: 8px 16px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media only screen and (max-width: 1440px) {
  .our-apps__all--each {
    min-height: 74px;
  }
}
@media only screen and (max-width: 767.98px) {
  .our-apps__all--each {
    min-height: 68px;
  }
}
.our-apps__all--each img {
  width: auto;
  max-width: 117px;
  height: auto;
  max-height: 47px;
}
@media only screen and (max-width: 1200px) {
  .our-apps__all--each img {
    max-width: 161px;
  }
}
@media only screen and (max-width: 767.98px) {
  .our-apps__all--each img {
    max-width: 120px;
  }
}

.the-best {
  position: relative;
  padding: 128px 0;
  overflow: hidden;
  z-index: 4;
  background-color: black;
}
@media only screen and (max-width: 991.98px) {
  .the-best {
    padding: 90px 0;
  }
}
@media only screen and (max-width: 767.98px) {
  .the-best {
    padding: 56px 0;
  }
}
.the-best .container {
  width: 100%;
  max-width: 1344px;
}
.the-best__title {
  text-align: center;
  margin-bottom: 64px;
}
.the-best__title .h1 {
  font-size: 5vw;
  margin-bottom: 56px;
}
@media only screen and (max-width: 767.98px) {
  .the-best__title .h1 {
    font-size: 34px;
    margin-bottom: 32px;
  }
}
.the-best__title p {
  width: 100%;
  max-width: 572px;
  margin: 0 auto;
}
.the-best .row .h1 {
  position: relative;
  z-index: 3;
}
@media only screen and (max-width: 767.98px) {
  .the-best .row .h1 {
    font-size: 40px;
  }
}
.the-best__us {
  background-color: rgb(24, 24, 24);
  border-radius: 8px;
  overflow: hidden;
  padding: 24px 0;
  min-height: 450px;
  position: relative;
  z-index: 2;
}
@media only screen and (max-width: 767.98px) {
  .the-best__us {
    min-height: auto;
  }
}
.the-best__us .logo-wrapper {
  text-align: center;
  width: 100%;
  max-width: 134px;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.the-best__us .logo-wrapper img {
  filter: invert(1);
  width: 100%;
  height: auto;
}
.the-best__us .list-wrapper {
  margin-top: 24px;
}
.the-best__us .list-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.the-best__us .list-wrapper ul li {
  padding: 12px 20px;
  border-top: 1px solid rgb(36, 36, 36);
}
@media only screen and (max-width: 767.98px) {
  .the-best__us .list-wrapper ul li {
    padding: 10px 16px;
  }
}
.the-best__us .list-wrapper ul li:last-child {
  border-bottom: 1px solid rgb(36, 36, 36);
}
.the-best__us .partners-wrapper {
  padding: 16px 20px 0;
}
.the-best__us .partners-wrapper p {
  margin-bottom: 32px;
}
.the-best__us .partners-wrapper .swiper {
  margin: 0 -20px;
}
.the-best__us .partners-wrapper .swiper .swiper-wrapper {
  transition-timing-function: linear !important;
  position: relative;
  align-items: center;
}
.the-best__us .partners-wrapper .swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  max-width: 220px;
}
.the-best__us .partners-wrapper .swiper .swiper-wrapper .swiper-slide .image-wrapper {
  background: black;
  border-radius: 8px;
  width: 100%;
  padding: 8px 16px;
}
.the-best__us .partners-wrapper .swiper .swiper-wrapper .swiper-slide .image-wrapper img {
  height: 100%;
  max-height: 64px;
  width: auto;
  max-width: 100%;
}
.the-best__left {
  position: relative;
}
.the-best__bg .blurry {
  width: 100%;
  height: 100vh;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
.the-best__bg .blurry.blurr--comp {
  z-index: 1;
  width: 40rem;
  height: 40rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  top: -24%;
  transform: scale(1.25);
}
@media only screen and (max-width: 767.98px) {
  .the-best__bg .blurry.blurr--comp {
    top: -46%;
    transform: scale(0.8);
    left: -43%;
  }
}
.the-best__all {
  background-color: rgb(24, 24, 24);
  border-radius: 8px;
  overflow: hidden;
  padding: 24px 0 0;
  position: relative;
  z-index: 4;
}
.the-best__all h5 {
  padding: 0 24px 0;
  text-align: center;
  font-size: 32px;
}
@media only screen and (max-width: 767.98px) {
  .the-best__all h5 {
    line-height: 1;
    font-size: 24px;
  }
}
.the-best__all .list-wrapper {
  margin-top: 24px;
}
.the-best__all .list-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.the-best__all .list-wrapper ul li {
  padding: 12px 20px;
  border-top: 1px solid rgb(36, 36, 36);
}
@media only screen and (max-width: 767.98px) {
  .the-best__all .list-wrapper ul li {
    padding: 10px 16px;
  }
}
.the-best .swiper-arrows-wrapper {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  align-items: flex-end;
  font-weight: 700;
  display: flex;
}
.the-best .swiper-arrows-wrapper.is--compare {
  margin-top: 20px;
}
.the-best .swiper-arrows-wrapper.is--cases {
  grid-column-gap: 1.75rem;
  justify-content: flex-end;
}
.the-best .swiper-icon {
  width: 1.3rem;
  height: 1.3rem;
  background-image: url("https://assets-global.website-files.com/64dcf2472ced385dfa68406f/64dcf2472ced385dfa6840b4_arr-prev.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
.the-best .swiper-icon.icon-next {
  background-image: url("https://assets-global.website-files.com/64dcf2472ced385dfa68406f/64dcf2472ced385dfa6840b5_arr-next.svg");
}
.the-best .swiper-button {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  background-color: rgb(24, 24, 24);
  color: white;
  cursor: pointer;
  border-radius: 4px;
  align-items: center;
  padding: 6px 8px;
  display: flex;
}
.the-best .swiper-arrows-wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media only screen and (max-width: 991.98px) {
  .the-best .swiper-arrows-wrapper {
    gap: 60px;
    justify-content: center;
    margin-top: 48px;
  }
}
@media only screen and (max-width: 767.98px) {
  .the-best .swiper-arrows-wrapper {
    justify-content: space-between;
  }
}

.testimonials {
  position: relative;
  padding: 128px 0;
  z-index: 4;
  background-color: black;
}
@media only screen and (max-width: 991.98px) {
  .testimonials {
    padding: 90px 0;
  }
}
@media only screen and (max-width: 767.98px) {
  .testimonials {
    padding: 56px 0;
  }
}
.testimonials .the-about {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}
@media only screen and (max-width: 767.98px) {
  .testimonials__title h3 {
    font-size: 30px;
  }
}
.testimonials__all--each {
  position: relative;
  padding: 24px;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  color: black;
}
.testimonials__all--each .the-type {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}
.testimonials__all--each .the-rating {
  font-size: 0;
  line-height: 0;
  width: 100%;
  max-width: 100px;
}
.testimonials__all--each .the-rating img,
.testimonials__all--each .the-rating svg {
  width: 100%;
  height: auto;
}
.testimonials__all--each .the-person {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 12px;
}
.testimonials__all--each .the-person .image-wrapper {
  width: 100%;
  max-width: 44px;
  border-radius: 50%;
  overflow: hidden;
}
.testimonials__all--each .the-person p {
  font-size: 15px;
  font-weight: 600;
}
.testimonials__all--each .text-wrapper h6 {
  font-size: 18px;
  margin-bottom: 4px;
}
.testimonials__all--each .text-wrapper p {
  line-height: 1.45;
}
.testimonials .swiper-arrows-wrapper {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  align-items: flex-end;
  justify-content: flex-start;
  font-weight: 700;
  display: flex;
  margin-top: 32px;
}
@media only screen and (max-width: 991.98px) {
  .testimonials .swiper-arrows-wrapper {
    gap: 60px;
    justify-content: center;
    margin-top: 48px;
  }
}
@media only screen and (max-width: 767.98px) {
  .testimonials .swiper-arrows-wrapper {
    justify-content: space-between;
    margin-top: 28px;
  }
}
.testimonials .swiper-arrows-wrapper.is--compare {
  margin-top: 20px;
}
.testimonials .swiper-arrows-wrapper.is--cases {
  grid-column-gap: 1.75rem;
  justify-content: flex-end;
}
.testimonials .swiper-icon {
  width: 1.3rem;
  height: 1.3rem;
  background-image: url("https://assets-global.website-files.com/64dcf2472ced385dfa68406f/64dcf2472ced385dfa6840b4_arr-prev.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(1);
}
.testimonials .swiper-icon.icon-next {
  background-image: url("https://assets-global.website-files.com/64dcf2472ced385dfa68406f/64dcf2472ced385dfa6840b5_arr-next.svg");
}
.testimonials .swiper-button {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 4px;
  align-items: center;
  padding: 6px 8px;
  display: flex;
}

.lets-talk {
  position: relative;
  padding: 128px 0;
  border-radius: 24px;
  background: rgb(241, 241, 241);
  color: black;
  overflow: hidden;
  z-index: 4;
}
@media only screen and (max-width: 991.98px) {
  .lets-talk {
    padding: 90px 0;
    border-radius: 16px;
  }
}
@media only screen and (max-width: 767.98px) {
  .lets-talk {
    padding: 56px 0;
  }
}
.lets-talk__inner {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
}
.lets-talk__inner .content-block {
  position: relative;
  padding: 124px 24px;
  text-align: center;
  z-index: 2;
}
@media only screen and (max-width: 991.98px) {
  .lets-talk__inner .content-block {
    padding: 90px 24px;
  }
}
@media only screen and (max-width: 767.98px) {
  .lets-talk__inner .content-block {
    padding: 60px 20px;
  }
}
.lets-talk__inner .content-block h4 {
  font-size: 56px;
  margin-bottom: 24px;
}
@media only screen and (max-width: 1439.98px) {
  .lets-talk__inner .content-block h4 {
    font-size: 44px;
  }
}
@media only screen and (max-width: 991.98px) {
  .lets-talk__inner .content-block h4 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 767.98px) {
  .lets-talk__inner .content-block h4 {
    font-size: 20px;
    margin-bottom: 8px;
  }
}
.lets-talk__inner .content-block .h1 {
  font-size: 4.2vw;
}
@media only screen and (max-width: 767.98px) {
  .lets-talk__inner .content-block .h1 {
    font-size: 26px;
  }
}
.lets-talk__inner .content-block .btn-wrapper {
  margin-top: 44px;
}
.lets-talk__inner .content-block .btn-wrapper .btn {
  min-width: 233px;
}
@media only screen and (max-width: 767.98px) {
  .lets-talk__inner .content-block .btn-wrapper .btn {
    min-width: auto;
  }
}
.lets-talk__inner .content-block .rating-wrapper {
  margin-top: 20px;
}
.lets-talk__inner .content-block .rating-wrapper img {
  width: 100%;
  max-width: 102px;
  height: auto;
  margin-bottom: 5px;
}
@media only screen and (max-width: 767px) {
  .lets-talk__inner .content-block .rating-wrapper img {
    margin-bottom: 8px;
  }
}
@media only screen and (max-width: 767px) {
  .lets-talk__inner .content-block .rating-wrapper p {
    width: 100%;
    max-width: 270px;
    margin: 0 auto;
  }
}
.lets-talk .cta-blurry {
  width: 60%;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
  z-index: 1;
}
.lets-talk .cta-blurry.is--left {
  top: auto;
  bottom: 0%;
  left: -20%;
  right: auto;
}
.lets-talk .cta-blurry.is--left {
  animation: l-blurry 5.5s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
.lets-talk .cta-blurry.is--right {
  top: 0%;
  bottom: auto;
  left: auto;
  right: -20%;
}
.lets-talk .cta-blurry.is--right {
  animation: r-blurry 5.5s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
@keyframes l-blurry {
  0% {
    transform: translate(0%, 0%);
  }
  25% {
    transform: translate(150%, 15%);
  }
  50% {
    transform: translate(150%, -15%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@keyframes r-blurry {
  0% {
    transform: translate(0%, 0%);
  }
  25% {
    transform: translate(-150%, -15%);
  }
  50% {
    transform: translate(-150%, 15%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

.site-footer {
  position: sticky;
  padding: 48px 0;
  bottom: 0;
  width: 100%;
  left: 0;
}
@media only screen and (max-width: 767.98px) {
  .site-footer {
    padding-bottom: 34px;
  }
}
.site-footer__logo {
  margin-bottom: 20px;
}
.site-footer__logo img {
  width: 100%;
  height: auto;
}
.site-footer input,
.site-footer button {
  border: 0;
  outline: none;
  padding: 8px 16px;
  background-color: rgb(24, 24, 24);
  border-radius: 8px;
  color: rgb(51, 51, 51);
  font-size: 24px;
}
@media only screen and (max-width: 767.98px) {
  .site-footer input,
  .site-footer button {
    font-size: 18px;
  }
}
.site-footer button {
  color: black;
  background-color: white;
  font-weight: 600;
}
.site-footer .form-input {
  display: flex;
  align-items: center;
  gap: 16px;
}
.site-footer .form-input input {
  flex-grow: 1;
  width: 100%;
  max-width: 500px;
}
.site-footer .form-input button {
  flex-shrink: 0;
}
.site-footer__inner {
  border-top: 1px solid rgb(38, 38, 38);
  padding-top: 20px;
}
.site-footer__inner h3 {
  margin-bottom: 32px;
}
@media only screen and (max-width: 767.98px) {
  .site-footer__inner h3 {
    font-size: 30px;
  }
  .site-footer__inner h3 br {
    display: none;
  }
}
.site-footer__inner h6 {
  font-size: 18px;
  margin-bottom: 12px;
}
.site-footer__inner ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-footer__inner ul li:not(:last-child) {
  margin-bottom: 4px;
}
.site-footer__inner ul li a {
  text-decoration: none;
  color: white;
}
.site-footer__inner ul li a:hover {
  text-decoration: underline !important;
}
.site-footer__copyright {
  margin-top: 96px;
}
@media only screen and (max-width: 991.98px) {
  .site-footer__copyright {
    margin-top: 48px;
  }
}/*# sourceMappingURL=app.css.map */