@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.4;
}
@media only screen and (max-width: 767px) {
  body {
    font-size: 15px;
  }
}

.image-ratio {
  position: relative;
  width: 100%;
}
.image-ratio > img,
.image-ratio > video,
.image-ratio > iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.image-ratio--16-9 {
  padding-top: 56.25%;
}
.image-ratio--square {
  padding-top: 100%;
}
.image-ratio--contain > img,
.image-ratio--contain > video,
.image-ratio--contain > iframe {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.points-with-image {
  position: relative;
  padding: 80px 0;
}
@media screen and (max-width: 991px) {
  .points-with-image {
    padding: 56px 0;
  }
}
.points-with-image .container {
  width: 100%;
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
}
.points-with-image h6,
.points-with-image h2,
.points-with-image h3,
.points-with-image h1,
.points-with-image p {
  margin: 0;
  letter-spacing: normal;
}
.points-with-image p {
  font-size: 16px;
  line-height: 1.6;
}
.points-with-image__title {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (max-width: 991px) {
  .points-with-image__title {
    margin-bottom: 48px;
  }
}
.points-with-image__title h2 {
  font-size: 36px;
  text-transform: uppercase;
}
@media screen and (max-width: 991px) {
  .points-with-image__title h2 {
    font-size: 28px;
  }
}
.points-with-image__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
}
@media screen and (max-width: 1199px) {
  .points-with-image__row {
    gap: 24px;
  }
}
@media screen and (max-width: 991px) {
  .points-with-image__row {
    flex-direction: column;
  }
}
.points-with-image__row--col {
  width: calc(33.33% - 32px);
}
@media screen and (max-width: 1199px) {
  .points-with-image__row--col {
    width: calc(33.33% - 16px);
  }
}
@media screen and (max-width: 991px) {
  .points-with-image__row--col {
    width: 100%;
  }
}
.points-with-image__row--col:first-child .points-with-image__each {
  text-align: right;
}
.points-with-image__row--col:first-child .points-with-image__each .icon-wrapper {
  margin-left: auto;
}
@media screen and (max-width: 991px) {
  .points-with-image__row--col:first-child .points-with-image__each {
    text-align: left;
  }
  .points-with-image__row--col:first-child .points-with-image__each .icon-wrapper {
    margin-left: 0;
  }
}
.points-with-image__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
@media screen and (max-width: 991px) {
  .points-with-image__image {
    margin: 32px 0;
  }
}
.points-with-image__image .image-wrapper {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
}
@media screen and (max-width: 1199px) {
  .points-with-image__image .image-wrapper {
    max-width: 100%;
  }
}
.points-with-image__image .image-wrapper .image-ratio img {
  -o-object-fit: contain;
     object-fit: contain;
}
.points-with-image__each:not(:last-child) {
  margin-bottom: 48px;
}
@media screen and (max-width: 991px) {
  .points-with-image__each:not(:last-child) {
    margin-bottom: 32px;
  }
}
.points-with-image__each .icon-wrapper {
  width: 100%;
  max-width: 56px;
  font-size: 0;
  line-height: 0;
  margin-bottom: 18px;
}
.points-with-image__each .icon-wrapper img,
.points-with-image__each .icon-wrapper svg {
  width: 100%;
  height: auto;
}

.image-ratio {
  position: relative;
  width: 100%;
}
.image-ratio > img,
.image-ratio > video,
.image-ratio > iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.image-ratio--16-9 {
  padding-top: 56.25%;
}
.image-ratio--square {
  padding-top: 100%;
}
.image-ratio--contain > img,
.image-ratio--contain > video,
.image-ratio--contain > iframe {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.the-videos {
  position: relative;
  padding: 48px 0;
}
.the-videos .container {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
}
.the-videos .swiper-pagination {
  position: relative;
  margin-top: 18px;
  top: 0;
}
.the-videos .swiper-pagination .swiper-pagination-bullet {
  background: black;
}/*# sourceMappingURL=app.css.map */