@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}
@media only screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
}

h1,
.h1 {
  font-size: 60px;
  line-height: 1.1;
  font-weight: 600;
}
@media only screen and (max-width: 1199px) {
  h1,
  .h1 {
    font-size: 48px;
  }
}
@media only screen and (max-width: 767px) {
  h1,
  .h1 {
    font-size: 40px;
  }
}

h2,
.h2 {
  font-size: 48px;
  line-height: 1.1;
  font-weight: 600;
}
@media only screen and (max-width: 1199px) {
  h2,
  .h2 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 767px) {
  h2,
  .h2 {
    font-size: 32px;
  }
}

h3,
.h3 {
  font-size: 36px;
  line-height: 1.1;
  font-weight: 600;
}
@media only screen and (max-width: 1199px) {
  h3,
  .h3 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 767px) {
  h3,
  .h3 {
    font-size: 24px;
  }
}

h5,
.h5 {
  font-size: 24px;
  line-height: 1.6;
  font-weight: 600;
}

h6,
.h6 {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 600;
}
@media only screen and (max-width: 767px) {
  h6,
  .h6 {
    font-size: 14px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
  margin: 0;
  padding: 0;
  letter-spacing: normal;
}

.copy-xs {
  font-size: 12px;
  line-height: 1.6;
}

.copy-sm {
  font-size: 14px;
  line-height: 1.6;
}

.container {
  max-width: 1640px;
  padding: 0 20px;
}

.image-ratio {
  position: relative;
  width: 100%;
}
.image-ratio > img,
.image-ratio > video,
.image-ratio > iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.image-ratio--16-9 {
  padding-top: 56.25%;
}
.image-ratio--square {
  padding-top: 100%;
}
.image-ratio--contain > img,
.image-ratio--contain > video,
.image-ratio--contain > iframe {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.the-announcement-bar {
  padding: 12px 0;
  color: white;
  background-color: rgb(174, 68, 90);
  min-height: 47px;
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
@media only screen and (max-width: 767px) {
  .the-announcement-bar {
    font-size: 12px;
    padding: 10px 0;
    min-height: 43px;
  }
}
.the-announcement-bar p {
  font-weight: 700;
  color: inherit;
}

.btn {
  font-weight: 700;
  padding: 17px 40px;
  border-radius: 24px;
  transition: 0.3s all ease;
}
@media only screen and (max-width: 767px) {
  .btn {
    font-size: 14px;
    padding: 16px 32px;
  }
}
.btn-primary {
  color: white;
  background-color: rgb(174, 68, 90);
  border-color: rgb(174, 68, 90);
}
.btn-primary:hover {
  border-color: rgba(174, 68, 90, 0.9);
  background-color: rgba(174, 68, 90, 0.9);
}

.site-header {
  position: fixed;
  top: 47px;
  left: 0;
  width: 100%;
  color: white;
  background: transparent;
  padding: 20px 0;
  z-index: 99;
}
@media only screen and (max-width: 991px) {
  .site-header {
    top: 43px;
  }
}
.scroll .site-header, .overflow-stopped .site-header {
  position: fixed;
  background: white;
  color: black;
  box-shadow: 0 4px 14px -2px rgba(0, 0, 0, 0.08);
}
@media only screen and (max-width: 1200px) {
  .site-header {
    padding: 16px 0;
  }
}
@media only screen and (max-width: 767px) {
  .site-header {
    padding: 12px 0;
  }
}
.site-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-header .navbar-toggler {
  border: none;
  outline: none;
  padding: 0;
  outline: none !important;
  box-shadow: none !important;
  position: relative;
  z-index: 9;
  background: transparent;
  min-width: 60px;
}
.site-header .navbar-toggler__inner {
  position: relative;
  z-index: 2;
  width: 26px;
  height: 20px;
  padding: 0;
}
.site-header .navbar-toggler span {
  display: block;
  height: 3px;
  width: 100%;
  background: white;
  transition: 0.3s all ease;
}
.scroll .site-header .navbar-toggler span, .overflow-stopped .site-header .navbar-toggler span {
  background: black;
}
.site-header .navbar-toggler span:not(:first-child) {
  margin-top: 5px;
}
.site-header .navbar-toggler.open .navbar-toggler__inner span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}
.site-header .navbar-toggler.open .navbar-toggler__inner span:nth-child(2) {
  opacity: 0;
}
.site-header .navbar-toggler.open .navbar-toggler__inner span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -7px);
}
.site-header__inner {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 100%;
}
@media only screen and (max-width: 1400px) {
  .site-header__inner {
    gap: 32px;
  }
}
@media only screen and (max-width: 1200px) {
  .site-header__inner {
    justify-content: space-between;
    gap: 0;
  }
}
.site-header__logo {
  width: 100%;
  max-width: 280px;
  display: block;
  font-size: 0;
  line-height: 0;
  flex-shrink: 0;
  position: relative;
  z-index: 9;
}
@media only screen and (max-width: 1400px) {
  .site-header__logo {
    max-width: 220px;
  }
}
@media only screen and (max-width: 767px) {
  .site-header__logo {
    max-width: 170px;
  }
}
.site-header__logo img,
.site-header__logo svg {
  width: 100%;
  height: auto;
}
.scroll .site-header__logo img, .overflow-stopped .site-header__logo img,
.scroll .site-header__logo svg,
.overflow-stopped .site-header__logo svg {
  filter: invert(1);
}
.site-header__actions {
  flex-shrink: 0;
  margin-left: auto;
  position: relative;
  z-index: 9;
}
@media only screen and (max-width: 1200px) {
  .site-header__actions {
    min-width: auto;
    margin: 0;
  }
}
.site-header__actions ul {
  justify-content: flex-end;
}
.site-header__links {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: start;
}
@media only screen and (max-width: 1200px) {
  .site-header__links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: white;
    display: block;
    padding: 120px 20px 20px 20px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.3s all ease;
    transform: translateX(-100%);
  }
  .site-header__links.open {
    transform: translateX(0);
  }
  .site-header__links.open li a {
    color: black;
  }
  .site-header__links ul {
    align-items: start !important;
    flex-direction: column;
  }
  .site-header__links ul li {
    width: 100%;
    margin: 0 !important;
  }
  .site-header__links ul li a {
    display: block;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    border-bottom: 1px solid rgb(211, 211, 211);
  }
}
.site-header__links ul, .site-header__actions ul {
  display: flex;
  align-items: center;
}
.site-header__links ul li:not(:last-child), .site-header__actions ul li:not(:last-child) {
  margin-right: 24px;
}
@media only screen and (max-width: 1200px) {
  .site-header__links ul li:not(:last-child), .site-header__actions ul li:not(:last-child) {
    margin-right: 16px;
  }
}
.site-header__links ul li a, .site-header__actions ul li a {
  position: relative;
  font-weight: 600;
  text-decoration: none;
  transition: 0;
}
@media only screen and (max-width: 1200px) {
  .site-header__links ul li a, .site-header__actions ul li a {
    font-size: 16px;
  }
}
.site-header__links ul li a.nav-link::before, .site-header__actions ul li a.nav-link::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0px;
  height: 3px;
  background: white;
  transition: 0.3s all ease;
}
@media only screen and (min-width: 1200px) {
  .site-header__links ul li a.nav-link:hover::before, .site-header__actions ul li a.nav-link:hover::before {
    width: 100%;
  }
}
.site-header__links ul li a.dropdown-toggle, .site-header__actions ul li a.dropdown-toggle {
  padding-right: 22px;
}
.site-header__links ul li a.dropdown-toggle::after, .site-header__actions ul li a.dropdown-toggle::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 14px;
  height: 8px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='512' height='298' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd' viewBox='0 0 512 298.04'%3E%3Cpath fill-rule='nonzero' d='M12.08 70.78c-16.17-16.24-16.09-42.54.15-58.7 16.25-16.17 42.54-16.09 58.71.15L256 197.76 441.06 12.23c16.17-16.24 42.46-16.32 58.71-.15 16.24 16.16 16.32 42.46.15 58.7L285.27 285.96c-16.24 16.17-42.54 16.09-58.7-.15L12.08 70.78z'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s all ease;
}
.site-header__links ul li a.dropdown-toggle.active::before, .site-header__actions ul li a.dropdown-toggle.active::before {
  height: 2px;
  width: 100%;
}
.site-header__links ul li a.dropdown-toggle.active::after, .site-header__actions ul li a.dropdown-toggle.active::after {
  transform: translateY(-50%) rotate(-180deg);
}
@media only screen and (min-width: 1200px) {
  .site-header__links ul li.dropdown:hover .dropdown-toggle::before, .site-header__actions ul li.dropdown:hover .dropdown-toggle::before {
    width: 100%;
  }
  .site-header__links ul li.dropdown:hover .dropdown-toggle::after, .site-header__actions ul li.dropdown:hover .dropdown-toggle::after {
    transform: translateY(-50%) rotate(-180deg);
  }
  .site-header__links ul li.dropdown:hover .dropdown-menu, .site-header__actions ul li.dropdown:hover .dropdown-menu {
    top: 100%;
    visibility: visible;
    pointer-events: all;
    opacity: 1;
  }
}
.site-header__links ul li .dropdown-menu, .site-header__actions ul li .dropdown-menu {
  position: absolute;
  top: calc(100% + 16px);
  left: 0;
  width: 100%;
  background: rgb(246, 246, 246);
  padding: 24px 20px;
  box-shadow: rgba(36, 55, 70, 0.12) 0px 2px 5px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s all ease;
}
@media only screen and (max-width: 1200px) {
  .site-header__links ul li .dropdown-menu, .site-header__actions ul li .dropdown-menu {
    position: relative;
    top: unset;
    left: unset;
    padding: 0;
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    max-height: 0;
    background: transparent;
    box-shadow: none;
  }
}
.site-header__links ul li .dropdown-menu__inner, .site-header__actions ul li .dropdown-menu__inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: start;
  gap: 24px;
}
@media only screen and (max-width: 1200px) {
  .site-header__links ul li .dropdown-menu__inner, .site-header__actions ul li .dropdown-menu__inner {
    flex-direction: column;
    padding: 24px 0 4px;
  }
}
.site-header__links ul li .dropdown-menu__inner li, .site-header__actions ul li .dropdown-menu__inner li {
  padding: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
}
.site-header__links ul li .dropdown-menu__inner a, .site-header__actions ul li .dropdown-menu__inner a {
  transition: 0.3s all ease;
  color: #243746;
  padding: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
}
.site-header__links ul li .dropdown-menu__inner a:hover, .site-header__actions ul li .dropdown-menu__inner a:hover {
  color: rgb(196, 0, 88);
}
.site-header__links ul li .dropdown-menu__links, .site-header__actions ul li .dropdown-menu__links {
  width: calc(40% - 12px);
}
@media only screen and (max-width: 1200px) {
  .site-header__links ul li .dropdown-menu__links, .site-header__actions ul li .dropdown-menu__links {
    width: 100%;
  }
}
.site-header__links ul li .dropdown-menu__links ul, .site-header__actions ul li .dropdown-menu__links ul {
  gap: 20px;
  flex-direction: column;
  align-items: start;
}
.site-header__links ul li .dropdown-menu__links ul li:last-child a, .site-header__actions ul li .dropdown-menu__links ul li:last-child a {
  font-weight: 600;
  text-decoration: underline !important;
  text-underline-offset: 3px;
}
.site-header__links ul li .dropdown-menu__products, .site-header__actions ul li .dropdown-menu__products {
  width: calc(60% - 12px);
}
@media only screen and (max-width: 1200px) {
  .site-header__links ul li .dropdown-menu__products, .site-header__actions ul li .dropdown-menu__products {
    width: 100%;
  }
}
.site-header__links ul li .dropdown-menu__products__all, .site-header__actions ul li .dropdown-menu__products__all {
  display: flex;
  align-items: start;
  gap: 24px;
}
@media only screen and (max-width: 1200px) {
  .site-header__links ul li .dropdown-menu__products__all, .site-header__actions ul li .dropdown-menu__products__all {
    flex-direction: column;
  }
}
.site-header__links ul li .dropdown-menu__products--each, .site-header__actions ul li .dropdown-menu__products--each {
  display: block;
  width: calc(50% - 12px);
  padding: 0;
}
@media only screen and (max-width: 1200px) {
  .site-header__links ul li .dropdown-menu__products--each, .site-header__actions ul li .dropdown-menu__products--each {
    width: 100%;
    display: none;
  }
  .site-header__links ul li .dropdown-menu__products--each:first-child, .site-header__actions ul li .dropdown-menu__products--each:first-child {
    display: block;
  }
}
.site-header__links ul li .dropdown-menu__products--each .image-wrapper .image-ratio, .site-header__actions ul li .dropdown-menu__products--each .image-wrapper .image-ratio {
  padding-top: 61%;
}
.site-header__links ul li .dropdown-menu__products--each .text-wrapper, .site-header__actions ul li .dropdown-menu__products--each .text-wrapper {
  margin-top: 10px;
}
.site-header__links ul li .dropdown-menu__products--each h6,
.site-header__links ul li .dropdown-menu__products--each p, .site-header__actions ul li .dropdown-menu__products--each h6,
.site-header__actions ul li .dropdown-menu__products--each p {
  margin: 0;
  font-size: 16px;
}
.site-header__links ul li .dropdown-menu__products--each h6 span,
.site-header__links ul li .dropdown-menu__products--each p span, .site-header__actions ul li .dropdown-menu__products--each h6 span,
.site-header__actions ul li .dropdown-menu__products--each p span {
  font-weight: 600;
}
.site-header__links ul li .dropdown-menu__products--each h6, .site-header__actions ul li .dropdown-menu__products--each h6 {
  margin-bottom: 4px;
}
.site-header__links ul li .dropdown-menu__products--each p, .site-header__actions ul li .dropdown-menu__products--each p {
  color: #243746;
}

.site-hero {
  position: relative;
  min-height: 100vh;
  padding: 140px 0;
  color: white;
}
@media only screen and (max-width: 767px) {
  .site-hero {
    min-height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.site-hero__bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: 1;
}
.site-hero__bg::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.site-hero__content {
  position: relative;
  text-align: center;
  z-index: 3;
}
.site-hero__content p {
  font-weight: 700;
  margin-bottom: 32px;
}
@media only screen and (max-width: 767px) {
  .site-hero__content p {
    margin-bottom: 16px;
  }
}
.site-hero__content h1 {
  font-weight: 600;
}
.site-hero__content .btn-wrapper {
  margin-top: 32px;
}
@media only screen and (max-width: 767px) {
  .site-hero__content .btn-wrapper {
    margin-top: 24px;
  }
}

.the-generic-text-content {
  position: relative;
  padding: 80px 0;
}
@media only screen and (max-width: 1199px) {
  .the-generic-text-content {
    padding: 64px 0;
  }
}
@media only screen and (max-width: 991px) {
  .the-generic-text-content {
    padding: 56px 0;
  }
}
@media only screen and (max-width: 767px) {
  .the-generic-text-content {
    padding: 40px 0;
  }
}
.the-generic-text-content__inner {
  text-align: center;
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
}
.the-generic-text-content__inner h2,
.the-generic-text-content__inner h3 {
  margin-bottom: 24px;
  font-weight: 600;
}

.link-with-icon {
  display: flex;
  align-items: center;
  color: black;
  gap: 12px;
  text-decoration: none;
  text-underline-offset: 3px;
}
.link-with-icon .icon-wrapper {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(26, 26, 26);
  color: white;
}
.link-with-icon:hover {
  text-decoration: underline !important;
}

.product-card .image-wrapper {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  display: block;
}
.product-card .image-wrapper .badge {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 9;
}
@media only screen and (max-width: 767px) {
  .product-card .image-wrapper .badge {
    top: 12px;
    left: 12px;
  }
}
.product-card .image-wrapper .image-ratio img {
  opacity: 0;
  visibility: hidden;
  transition: 0.4s all ease;
}
.product-card .image-wrapper .image-ratio img.image-1 {
  visibility: visible;
  opacity: 1;
}
.product-card .image-wrapper:hover .image-ratio img.image-1 {
  visibility: hidden;
  opacity: 0;
}
.product-card .image-wrapper:hover .image-ratio img.image-2 {
  visibility: visible;
  opacity: 1;
}
.product-card .text-wrapper {
  margin-top: 24px;
}
@media only screen and (max-width: 767px) {
  .product-card .text-wrapper {
    margin-top: 16px;
  }
}
.product-card .text-wrapper .h6 {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 4px;
  color: black;
}
.product-card .text-wrapper .pricing {
  display: flex;
  align-items: center;
  gap: 8px;
}
.product-card .text-wrapper .pricing span {
  color: rgb(0, 163, 64);
}
.product-card .text-wrapper .pricing .sale-price {
  text-decoration: line-through;
  color: black;
}

.badge {
  font-size: 12px;
  font-weight: 600;
  padding: 7px 10px;
  border-radius: 24px;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}
@media only screen and (max-width: 767px) {
  .badge {
    font-size: 11px;
    padding: 5px 8px;
  }
}
.badge-success {
  color: white;
  background-color: rgb(0, 163, 64);
}

.product-collection {
  position: relative;
  padding: 80px 0;
}
@media only screen and (max-width: 1199px) {
  .product-collection {
    padding: 64px 0;
  }
}
@media only screen and (max-width: 991px) {
  .product-collection {
    padding: 56px 0;
  }
}
@media only screen and (max-width: 767px) {
  .product-collection {
    padding: 40px 0;
  }
}
.product-collection__header {
  gap: 24px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 48px;
}
.product-collection__header svg {
  margin-right: -1px;
}

.product-overview {
  padding: 80px 0;
}
@media only screen and (max-width: 1199px) {
  .product-overview {
    padding: 64px 0;
  }
}
@media only screen and (max-width: 991px) {
  .product-overview {
    padding: 56px 0;
  }
}
@media only screen and (max-width: 767px) {
  .product-overview {
    padding: 40px 0;
  }
}
.product-overview__swiper {
  width: 100%;
  max-width: 406px;
  margin: 0 auto;
}
.product-overview__main {
  border-radius: 12px;
  overflow: hidden;
}

.swiper-navigations {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  gap: 16px;
}

.swiper-pagination {
  position: relative;
  top: unset;
  left: unset !important;
  right: unset !important;
  bottom: unset !important;
  transform: none;
  width: -moz-fit-content !important;
  width: fit-content !important;
  font-size: 0;
  line-height: 1.1;
}
.swiper-pagination .swiper-pagination-bullet {
  margin: 0 6px !important;
  background-color: black !important;
  width: 7px;
  height: 7px;
}

.swiper-button-prev,
.swiper-button-next {
  position: relative;
  top: unset;
  left: unset;
  right: unset;
  bottom: unset;
  transform: none;
  margin: 0;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  margin: 1px;
  opacity: 1 !important;
  pointer-events: all !important;
  cursor: pointer !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: black;
  font-size: 12px;
  font-weight: 600;
}

.the-text-over-image {
  position: relative;
  padding: 80px 0;
  color: white;
  min-height: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media only screen and (max-width: 1199px) {
  .the-text-over-image {
    padding: 64px 0;
  }
}
@media only screen and (max-width: 991px) {
  .the-text-over-image {
    padding: 56px 0;
  }
}
@media only screen and (max-width: 767px) {
  .the-text-over-image {
    padding: 40px 0;
  }
}
@media only screen and (max-width: 992px) {
  .the-text-over-image {
    min-height: 400px;
  }
}
.the-text-over-image__bg {
  pointer-events: none;
}
.the-text-over-image__bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: 1;
}
.the-text-over-image__bg::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.the-text-over-image__content {
  position: relative;
  text-align: center;
  z-index: 3;
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
}
.the-text-over-image__content p {
  font-weight: 500;
}
.the-text-over-image__content h1,
.the-text-over-image__content h2 {
  margin-bottom: 32px;
  font-weight: 600;
}
.the-text-over-image__content h6 {
  margin-bottom: 32px;
}
@media only screen and (max-width: 767px) {
  .the-text-over-image__content h6 {
    margin-bottom: 16px;
  }
}
.the-text-over-image__content .btn-wrapper {
  margin-top: 32px;
}
@media only screen and (max-width: 767px) {
  .the-text-over-image__content .btn-wrapper {
    margin-top: 24px;
  }
}
.the-text-over-image__content .btn-wrapper + p {
  margin-top: 32px;
}
@media only screen and (max-width: 767px) {
  .the-text-over-image__content .btn-wrapper + p {
    margin-top: 14px;
  }
}

.image-with-content {
  position: relative;
  padding: 80px 0;
}
@media only screen and (max-width: 1199px) {
  .image-with-content {
    padding: 64px 0;
  }
}
@media only screen and (max-width: 991px) {
  .image-with-content {
    padding: 56px 0;
  }
}
@media only screen and (max-width: 767px) {
  .image-with-content {
    padding: 40px 0;
  }
}
.image-with-content__image, .image-with-content__content {
  border-radius: 12px;
  overflow: hidden;
}
.image-with-content__image {
  position: relative;
  height: 100%;
}
@media only screen and (max-width: 992px) {
  .image-with-content__image {
    padding-top: 70%;
  }
}
.image-with-content__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.image-with-content__content {
  padding: 72px;
  text-align: center;
  background-color: rgb(153, 176, 128);
  min-height: 584px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 767px) {
  .image-with-content__content {
    padding: 40px 32px;
    min-height: auto;
  }
}
.image-with-content__content p + p {
  margin-top: 32px;
}
@media only screen and (max-width: 767px) {
  .image-with-content__content p + p {
    margin-top: 12px;
  }
}

.product-types {
  padding: 80px 0;
  background: rgb(247, 239, 229);
}
@media only screen and (max-width: 1199px) {
  .product-types {
    padding: 64px 0;
  }
}
@media only screen and (max-width: 991px) {
  .product-types {
    padding: 56px 0;
  }
}
@media only screen and (max-width: 767px) {
  .product-types {
    padding: 40px 0;
  }
}
.product-types .swiper-pagination {
  margin: 0 auto;
  margin-top: 30px;
}
.product-types__each {
  text-align: center;
}
.product-types__each .icon-wrapper {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(174, 68, 90);
  border-radius: 50%;
  margin: 0 auto;
  color: white;
  margin-bottom: 24px;
}
.product-types__each .text-wrapper p {
  margin-top: 16px;
}

.our-benefits {
  padding: 80px 0;
  color: white;
  background-color: rgb(174, 68, 90);
}
@media only screen and (max-width: 1199px) {
  .our-benefits {
    padding: 64px 0;
  }
}
@media only screen and (max-width: 991px) {
  .our-benefits {
    padding: 56px 0;
  }
}
@media only screen and (max-width: 767px) {
  .our-benefits {
    padding: 40px 0;
  }
}
.our-benefits__each {
  text-align: center;
}
.our-benefits__each .icon-wrapper {
  font-size: 0;
  line-height: 0;
  margin-bottom: 20px;
}
.our-benefits__each .text-wrapper h5 {
  font-size: 20px;
  margin-bottom: 12px;
}
@media only screen and (max-width: 767px) {
  .our-benefits__each .text-wrapper h5 {
    font-size: 16px;
  }
}

.the-testimonials {
  position: relative;
  padding: 80px 0;
}
@media only screen and (max-width: 1199px) {
  .the-testimonials {
    padding: 64px 0;
  }
}
@media only screen and (max-width: 991px) {
  .the-testimonials {
    padding: 56px 0;
  }
}
@media only screen and (max-width: 767px) {
  .the-testimonials {
    padding: 40px 0;
  }
}
.the-testimonials .swiper-navigations {
  margin-top: 48px;
}
.the-testimonials__swiper {
  width: 100%;
  max-width: 1196px;
  margin: 0 auto;
  text-align: center;
}
.the-testimonials__swiper .swiper {
  overflow-y: visible;
}
.the-testimonials__each {
  position: relative;
}
.the-testimonials__each::before {
  content: "";
  display: block;
  width: 70px;
  height: 45px;
  background-image: url("data:image/svg+xml,%3Csvg width='86' height='55' viewBox='0 0 86 55' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M71.3163 54.6H42.5163L60.3163 0.400024H85.5163L71.3163 54.6ZM29.3163 54.6H0.716309L18.9163 0.400024H44.1163L29.3163 54.6Z' fill='%23252627'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -15px;
  left: 0;
  opacity: 0.1;
  background-size: contain;
}
@media only screen and (max-width: 767px) {
  .the-testimonials__each::before {
    width: 51px;
    height: 37px;
  }
}
.the-testimonials__each h3 {
  line-height: 1.28;
}

.our-newsletter {
  padding: 80px 0;
}
@media only screen and (max-width: 1199px) {
  .our-newsletter {
    padding: 64px 0;
  }
}
@media only screen and (max-width: 991px) {
  .our-newsletter {
    padding: 56px 0;
  }
}
@media only screen and (max-width: 767px) {
  .our-newsletter {
    padding: 40px 0;
  }
}
.our-newsletter__inner {
  text-align: center;
}
.our-newsletter__inner h2 {
  margin-bottom: 24px;
}
@media only screen and (max-width: 767px) {
  .our-newsletter__inner h2 {
    margin-bottom: 20px;
  }
}
.our-newsletter__form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 32px;
}
@media only screen and (max-width: 767px) {
  .our-newsletter__form {
    margin-top: 24px;
    flex-direction: column;
    gap: 16px;
  }
}
.our-newsletter__form .form-control {
  width: 100%;
  max-width: 275px;
  min-height: 60px;
  padding: 14px 20px;
  box-shadow: none !important;
  outline: none !important;
  border-radius: 16px;
  border-color: #dbdbdb;
}
@media only screen and (max-width: 767px) {
  .our-newsletter__form .form-control {
    display: block;
    width: 100%;
    max-width: 100%;
  }
}
.our-newsletter__form .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
@media only screen and (max-width: 767px) {
  .our-newsletter__form .btn {
    display: flex;
    width: 100%;
  }
}

.has-no-top-padding {
  padding-top: 0;
}

.the-faq {
  position: relative;
  padding: 80px 0;
  background-color: rgb(174, 68, 90);
}
@media only screen and (max-width: 1199px) {
  .the-faq {
    padding: 64px 0;
  }
}
@media only screen and (max-width: 991px) {
  .the-faq {
    padding: 56px 0;
  }
}
@media only screen and (max-width: 767px) {
  .the-faq {
    padding: 40px 0;
  }
}
.the-faq__title {
  color: white;
}
.the-faq__title h2 {
  margin-bottom: 24px;
}
@media only screen and (max-width: 767px) {
  .the-faq__title h2 {
    margin-bottom: 20px;
  }
}
.the-faq__faq {
  padding: 20px 48px;
  border-radius: 12px;
  background-color: rgb(247, 239, 229);
}
@media only screen and (max-width: 767px) {
  .the-faq__faq {
    padding: 4px 20px;
  }
}
.the-faq__faq .accordion {
  background: transparent;
}
.the-faq__faq .accordion .accordion-item {
  background: transparent;
  border-color: rgba(0, 0, 0, 0.12);
}
.the-faq__faq .accordion .accordion-item .accordion-header {
  background: transparent;
}
.the-faq__faq .accordion .accordion-item .accordion-header .accordion-button {
  background: transparent;
  font-weight: 600;
  padding: 20px 0;
  box-shadow: none !important;
}
.the-faq__faq .accordion .accordion-item .accordion-header .accordion-button::after {
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' width='800px' height='800px' viewBox='0 0 56 56'%3E%3Cpath d='M 27.9999 51.9063 C 41.0546 51.9063 51.9063 41.0781 51.9063 28 C 51.9063 14.9453 41.0312 4.0937 27.9765 4.0937 C 14.8983 4.0937 4.0937 14.9453 4.0937 28 C 4.0937 41.0781 14.9218 51.9063 27.9999 51.9063 Z M 30.4374 35.1484 C 28.9140 36.7656 27.0858 36.7656 25.5390 35.1484 L 15.9062 24.8828 C 15.1562 24.0859 15.1562 22.9844 15.8358 22.2812 C 16.5858 21.4844 17.7577 21.4609 18.4609 22.2344 L 27.9999 32.3125 L 37.5390 22.2344 C 38.2421 21.4609 39.4140 21.4844 40.1640 22.2812 C 40.8436 22.9844 40.8436 24.0859 40.0936 24.8828 Z'/%3E%3C/svg%3E");
}
.the-faq__faq .accordion .accordion-item .accordion-body {
  padding: 0;
  padding-bottom: 20px;
  width: 100%;
  max-width: 90%;
}

.site-footer {
  position: relative;
  padding: 64px 0;
  color: black;
  background-color: rgb(247, 239, 229);
}
@media only screen and (max-width: 992px) {
  .site-footer {
    padding: 48px 0;
  }
}
.site-footer__row {
  display: flex;
  align-items: start;
  gap: 96px;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1400px) {
  .site-footer__row {
    gap: 48px;
  }
}
@media only screen and (max-width: 767px) {
  .site-footer__row {
    gap: 40px;
  }
}
.site-footer__row--col {
  width: calc(20% - 48px);
}
.site-footer__row--col:first-of-type, .site-footer__row--col:nth-child(2) {
  width: calc(30% - 48px);
}
@media only screen and (max-width: 1400px) {
  .site-footer__row--col:first-of-type, .site-footer__row--col:nth-child(2) {
    width: 100%;
  }
}
@media only screen and (max-width: 1400px) {
  .site-footer__row--col {
    width: calc(50% - 24px);
  }
}
@media only screen and (max-width: 767px) {
  .site-footer__row--col {
    width: calc(50% - 20px);
  }
}
.site-footer__logo {
  display: block;
  width: 100%;
  max-width: 180px;
  margin-bottom: 32px;
}
.site-footer__logo img,
.site-footer__logo svg {
  width: 100%;
  height: auto;
}
.site-footer__newsletter {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.site-footer__newsletter .form-input {
  position: relative;
  width: 100%;
  max-width: 400px;
}
.site-footer__newsletter .form-input .form-control {
  min-height: 60px;
  padding: 14px 20px;
  box-shadow: none !important;
  outline: none !important;
  border-radius: 12px;
  background-color: transparent;
  border-color: #c9c9c9;
}
.site-footer__newsletter .form-input .btn-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%) rotate(-90deg);
  width: 24px;
  height: 24px;
  border: 0;
  outline: none;
  box-shadow: none;
  background: transparent;
  padding: 0;
  margin: 0;
}
.site-footer__newsletter .form-input .btn-icon svg,
.site-footer__newsletter .form-input .btn-icon img {
  width: 100%;
  height: auto;
}
.site-footer__links h6 {
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline;
  margin-bottom: 24px;
}
.site-footer__links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.site-footer__links ul li a {
  color: black;
  text-decoration: none !important;
}
.site-footer__links ul li a:hover {
  text-decoration: underline !important;
}
.site-footer__copyright {
  margin-top: 64px;
}
@media only screen and (max-width: 1199px) {
  .site-footer__copyright {
    margin-top: 56px;
  }
}
@media only screen and (max-width: 767px) {
  .site-footer__copyright {
    margin-top: 40px;
  }
}/*# sourceMappingURL=app.css.map */