@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$themeColor: rgb(31, 41, 55);
$black: black;
$white: white;
$green: #00B900;
$orange: rgb(249, 115, 22);

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1,
.h1 {
    font-size: 48px;
    line-height: 1.1;
    font-weight: 700;

    @media only screen and (max-width: 1199px) {
        font-size: 36px;
    }
}

h2,
.h2 {
    font-size: 36px;
    line-height: 1.1;
    font-weight: 700;

    @media only screen and (max-width: 1199px) {
        font-size: 40px;
    }

    @media only screen and (max-width: 767px) {
        font-size: 30px;
    }
}

h3,
.h3 {
    font-size: 36px;
    line-height: 1.1;
    font-weight: 600;

    @media only screen and (max-width: 1199px) {
        font-size: 32px;
    }

    @media only screen and (max-width: 767px) {
        font-size: 24px;
    }
}

h5,
.h5 {
    font-size: 24px;
    line-height: 1.1;
    font-weight: 700;

    @media only screen and (max-width: 991.98px) {
        font-size: 20px;
    }
}

h6,
.h6 {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
    margin: 0;
    padding: 0;
    letter-spacing: normal;
}

.copy-xs {
    font-size: 12px;
    line-height: 1.6;
}

.copy-sm {
    font-size: 14px;
    line-height: 1.6;
}

.container {
    max-width: 1536px;
    padding: 0 24px;
}

.btn {
    border-radius: 4px;
    padding: 8px 23px;
    font-weight: 500;

    @media only screen and (max-width: 767px) {
        padding: 7px 20px;
    }

    &-primary {
        border-color: $themeColor;
        background: $themeColor;
        color: $white;

        &:hover {
            border-color: lighten($themeColor, 10%);
            background: lighten($themeColor, 10%);
        }
    }

    &-green {
        border-color: $green;
        background: $green;
        color: $white;

        &:hover {
            border-color: lighten($green, 10%);
            background: lighten($green, 10%);
            color: $white;
        }
    }
}

.image-ratio {
    position: relative;
    width: 100%;

    >img,
    >video,
    >iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &--16-9 {
        padding-top: 56.25%;
    }

    &--square {
        padding-top: 100%;
    }

    &--contain {

        >img,
        >video,
        >iframe {
            object-fit: contain;
            object-position: center;
        }
    }
}

.the-announcement-bar {
    padding: 10px 0;
    color: $white;
    background-color: $themeColor;
    min-height: 44px;
    text-align: center;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;

    @media only screen and (max-width: 767px) {
        font-size: 12px;
        padding: 10px 0;
        min-height: 43px;
    }

    p {
        font-weight: 700;
        color: inherit;
    }
}

.site-header {
    position: sticky;
    top: 44px;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: rgba(36, 55, 70, 0.09) 0px 2px 5px;
    z-index: 9999;

    @media only screen and (max-width: 767px) {
        top: 43px;
    }

    @media only screen and (max-width: 992px) {
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 8;
            background: white;
            box-shadow: rgba(36, 55, 70, 0.10) 0px 2px 5px;
        }
    }

    .tag {
        padding: 5px 8px;
        border: 1px dashed rgb(89, 111, 140);
        border-radius: 32px;
        font-size: 14px;
        font-weight: 600;
        margin-left: 7px;
        background: rgb(226, 235, 239);
        color: #243746;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .navbar-toggler {
        border: none;
        outline: none;
        padding: 0;
        outline: none !important;
        box-shadow: none !important;
        position: relative;
        z-index: 9;
        background: transparent;

        &__inner {
            position: relative;
            z-index: 2;
            width: 30px;
            height: 23px;
            padding: 0;
        }

        span {
            display: block;
            height: 3px;
            width: 100%;
            background: #243746;
            transition: 0.3s all ease;

            &:not(:first-child) {
                margin-top: 7px;
            }
        }

        &.open {
            .navbar-toggler__inner {
                span {
                    &:nth-child(1) {
                        transform: rotate(45deg) translate(7px, 6px);
                    }

                    &:nth-child(2) {
                        opacity: 0;
                    }

                    &:nth-child(3) {
                        transform: rotate(-45deg) translate(8px, -7px);
                    }
                }
            }
        }
    }

    &__inner {
        display: flex;
        align-items: center;
        width: 100%;

        @media only screen and (max-width: 992px) {
            justify-content: space-between;
        }
    }

    &__logo {
        width: 100%;
        max-width: 160px;
        display: block;
        font-size: 0;
        line-height: 0;
        flex-shrink: 0;
        position: relative;
        z-index: 9;

        img,
        svg {
            width: 100%;
            height: auto;
        }
    }

    &__actions {
        flex-shrink: 0;
        margin-left: auto;
        min-width: 128px;
        position: relative;
        z-index: 9;

        @media only screen and (max-width: 992px) {
            min-width: auto;
            margin: 0;
        }

        ul {
            justify-content: flex-end;

            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                a {
                    font-size: 0 !important;
                }
            }
        }
    }

    &__links {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width: 992px) {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            min-height: 100vh;
            background: white;
            display: block;
            padding: 120px 24px 24px 24px;
            overflow-x: hidden;
            overflow-y: auto;
            transition: .3s all ease;
            transform: translateX(-100%);

            &.open {
                transform: translateX(0);
            }

            ul {
                align-items: start !important;
                flex-direction: column;

                li {
                    width: 100%;
                    margin: 0 !important;

                    a {
                        display: block;
                        padding-top: 16px !important;
                        padding-bottom: 16px !important;
                        border-bottom: 1px solid rgb(211 211 211);
                    }
                }
            }
        }
    }

    &__links,
    &__actions {
        ul {
            display: flex;
            align-items: center;

            li {
                &:not(:last-child) {
                    margin-right: 24px;
                }

                a {
                    position: relative;
                    font-size: 16px;
                    font-weight: 500;
                    color: rgb(36, 55, 70);
                    text-decoration: none;
                    padding: 20px 0;
                    display: block;

                    @media only screen and (max-width: 1200px) {
                        font-size: 16px;
                    }

                    &.nav-link {
                        &::before {
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 0px;
                            height: 3px;
                            background: $themeColor;
                            transition: .3s all ease;
                        }

                        @media only screen and (min-width: 992px) {
                            &:hover {
                                &::before {
                                    width: 100%;
                                }
                            }
                        }
                    }

                    &.the-dropdown-toggle {
                        padding-right: 22px;

                        &::after {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transform: translateY(-50%);
                            width: 14px;
                            height: 8px;
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='512' height='298' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd' viewBox='0 0 512 298.04'%3E%3Cpath fill-rule='nonzero' d='M12.08 70.78c-16.17-16.24-16.09-42.54.15-58.7 16.25-16.17 42.54-16.09 58.71.15L256 197.76 441.06 12.23c16.17-16.24 42.46-16.32 58.71-.15 16.24 16.16 16.32 42.46.15 58.7L285.27 285.96c-16.24 16.17-42.54 16.09-58.7-.15L12.08 70.78z'/%3E%3C/svg%3E");
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                            transition: .3s all ease;
                            border: 0;
                        }

                        &.active {
                            &::before {
                                height: 2px;
                                width: 100%;
                            }

                            &::after {
                                transform: translateY(-50%) rotate(-180deg);
                            }
                        }
                    }
                }

                @media only screen and (min-width: 992px) {
                    &.the-dropdown {
                        &:hover {
                            .the-dropdown-toggle {
                                &::before {
                                    width: 100%;
                                }

                                &::after {
                                    transform: translateY(-50%) rotate(-180deg);
                                }
                            }

                            .the-dropdown-menu {
                                top: 100%;
                                visibility: visible;
                                pointer-events: all;
                                opacity: 1;
                            }
                        }
                    }
                }

                .the-dropdown-menu {
                    position: absolute;
                    top: calc(100% + 16px);
                    left: 0;
                    width: 100%;
                    background: rgb(246, 246, 246);
                    padding: 24px;
                    box-shadow: rgba(36, 55, 70, 12%) 0px 2px 5px;
                    visibility: hidden;
                    opacity: 0;
                    pointer-events: none;
                    transition: .3s all ease;

                    @media only screen and (max-width: 992px) {
                        position: relative;
                        top: unset;
                        left: unset;
                        padding: 0;
                        visibility: visible;
                        opacity: 1;
                        pointer-events: all;
                        overflow: hidden;
                        transition: max-height 0.2s ease-out;
                        max-height: 0;
                        background: transparent;
                        box-shadow: none;
                    }

                    .dropdown-menu__inner {
                        width: 100%;
                        max-width: 1488px;
                        margin: 0 auto;
                        display: flex;
                        align-items: start;
                        gap: 24px;

                        @media only screen and (max-width: 992px) {
                            flex-direction: column;
                            padding: 24px 0 4px;
                        }

                        li {
                            padding: 0 !important;
                            border: 0 !important;
                            box-shadow: none !important;
                        }

                        a {
                            transition: .3s all ease;
                            color: #243746;
                            padding: 0 !important;
                            border: 0 !important;
                            box-shadow: none !important;

                            &:hover {
                                color: $themeColor;
                            }
                        }
                    }

                    .dropdown-menu__links {
                        width: calc(40% - 12px);

                        @media only screen and (max-width: 992px) {
                            width: 100%;
                        }


                        ul {
                            gap: 20px;
                            flex-direction: column;
                            align-items: start;

                            li {
                                &:last-child {
                                    a {
                                        font-weight: 600;
                                        text-decoration: underline !important;
                                        text-underline-offset: 3px;
                                    }
                                }
                            }
                        }
                    }

                    .dropdown-menu__products {
                        width: calc(60% - 12px);

                        @media only screen and (max-width: 992px) {
                            width: 100%;
                        }

                        &__all {
                            display: flex;
                            align-items: start;
                            gap: 24px;

                            @media only screen and (max-width: 992px) {
                                flex-direction: column;
                            }
                        }

                        &--each {
                            display: block;
                            width: calc(50% - 12px);
                            padding: 0;

                            @media only screen and (max-width: 992px) {
                                width: 100%;
                                display: none;

                                &:first-child {
                                    display: block;
                                }
                            }

                            .image-wrapper {
                                .image-ratio {
                                    padding-top: 61%;
                                }
                            }

                            .text-wrapper {
                                margin-top: 10px;
                            }

                            h6,
                            p {
                                margin: 0;
                                font-size: 16px;

                                span {
                                    font-weight: 600;
                                }
                            }


                            h6 {
                                margin-bottom: 4px;
                            }

                            p {
                                color: #243746;
                            }
                        }
                    }
                }
            }
        }
    }
}

.site-hero {
    position: relative;
    padding: 80px 0;

    @media only screen and (max-width: 767px) {
        padding: 40px 0;
    }

    &__bg {
        pointer-events: none;

        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background: $themeColor;
            opacity: .4;
        }

        img,
        svg {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            z-index: 1;
        }
    }

    &__text-content {
        position: relative;
        color: $white;
        z-index: 3;

        .btn-wrapper {
            margin-top: 24px;
        }
    }
}

.product-categories {
    position: relative;
    padding: 60px 0 40px;

    @media only screen and (max-width: 767px) {
        padding: 40px 0 28px;
    }
}

.category-card {
    overflow: hidden;
    border-radius: 4px;
    display: block;
    text-decoration: none;
    color: $themeColor;

    .image-wrapper {
        display: block;
        overflow: hidden;

        .image-ratio {
            padding-top: 56.5%;

            img {
                transform: scale(1.005);
                transition: .2s all ease;
            }
        }

        &:hover {
            .image-ratio {
                img {
                    transform: scale(1.05);
                }
            }
        }
    }

    .text-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgb(243, 244, 246);
        padding: 16px;
        gap: 20px;

        @media only screen and (max-width: 767px) {
            padding: 14px 16px;
        }

        p {
            font-weight: 700;

            @media only screen and (max-width: 767px) {
                font-size: 16px;
            }
        }

        .icon-wrapper {
            font-size: 0;
            line-height: 0;
            color: $orange;
            width: 100%;
            max-width: 24px;

            svg,
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

.image-with-content {
    position: relative;
    padding: 48px 0;

    @media only screen and (max-width: 991.98px) {
        .row {
            flex-direction: column-reverse;
        }
    }

    @media only screen and (max-width: 767px) {
        padding: 28px 0;
    }

    &__image {
        width: 100%;
        max-width: 664px;
        margin-left: auto;

        @media only screen and (max-width: 991.98px) {
            max-width: 100%;
            margin-bottom: 12px;
        }
    }

    &__text-content {
        h5 {
            color: $orange;
        }

        p {
            margin-top: 16px;
            width: 100%;
            max-width: 646px;

            a {
                color: $themeColor;
                text-decoration: underline;
                font-weight: 600;
            }
        }

        .btn-wrapper {
            margin-top: 20px;
        }
    }
}

.our-benefits {
    position: relative;
    padding: 48px 0;
    background: rgb(243, 244, 246);
    text-align: center;
    color: $themeColor;
    margin: 18px 0;

    &__title {
        margin-bottom: 48px;
    }

    &__all {
        &--each {
            width: 100%;
            max-width: 320px;
            margin: 0 auto;

            .icon-wrapper {
                width: 100%;
                max-width: 56px;
                font-size: 0;
                line-height: 0;
                margin: 0 auto;
                margin-bottom: 24px;

                img,
                svg {
                    width: 100%;
                    height: auto;
                }
            }

            .text-wrapper {
                .title {
                    text-transform: uppercase;
                    font-weight: 500;
                    margin-bottom: 16px;
                    letter-spacing: 1px;

                    @media only screen and (max-width: 991.98px) {
                        letter-spacing: normal;
                    }
                }

                p {
                    line-height: 1.6;
                }
            }
        }
    }
}

.main-categories {
    position: relative;
    padding: 48px 0;

    &__title {
        margin-bottom: 48px;

        h5 {
            color: $orange;
        }
    }

    &__tags {
        ul {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 8px;
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                a {
                    display: block;
                    width: fit-content;
                    font-size: 14px;
                    padding: 8px 12px;
                    border-radius: 4px;
                    color: $themeColor;
                    text-decoration: none;
                    background: rgb(243, 244, 246);
                }

                &:first-child {
                    a {
                        padding: 8px;
                        background: $themeColor;
                        color: $white;
                    }
                }
            }
        }
    }

    &__all {
        margin-top: 80px;

        @media only screen and (max-width: 991.98px) {
            margin-top: 48px;
        }
    }
}

.arrangments {
    position: relative;
    padding: 48px 0;

    @media only screen and (max-width: 767.98px) {
        padding: 40px 0;
    }

    &__title {
        margin-bottom: 32px;

        h5 {
            color: $orange;

            a {
                color: inherit !important;
                text-decoration: underline !important;
                text-underline-offset: 3px;
            }
        }
    }

    &__all {
        .category-card {
            .image-wrapper {
                .image-ratio {
                    padding-top: 61%;
                }
            }

            &--medium {
                .image-wrapper {
                    .image-ratio {
                        padding-top: 63.11%;

                        @media only screen and (max-width: 991.98px) {
                            padding-top: 61%;
                        }
                    }
                }
            }

            &--vertical {
                .image-wrapper {
                    .image-ratio {
                        padding-top: 129.38%;

                        @media only screen and (max-width: 991.98px) {
                            padding-top: 61%;
                        }
                    }
                }
            }
        }
    }
}

.the-image-with-text {
    position: relative;
    color: $white;
    background: rgb(31, 41, 55);
    margin-top: 24px;

    @media only screen and (max-width: 767.98px) {
        margin: 6px 0;
    }

    &__inner {
        display: flex;
        align-items: flex-end;
        gap: 121px;

        @media only screen and (max-width: 991.98px) {
            gap: 24px;
        }

        @media only screen and (max-width: 767.98px) {
            flex-wrap: wrap;
        }
    }

    &__image {
        width: 100%;
        max-width: 251px;
        flex-shrink: 0;
        margin-top: -56px;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__text-content {
        padding: 80px 0;
        width: 100%;
        max-width: 744px;

        @media only screen and (max-width: 767.98px) {
            padding: 40px 0;
        }

        h5 {
            color: $orange;
        }

        p {
            margin-top: 20px;

            a {
                color: $themeColor;
                text-decoration: underline;
                font-weight: 600;
            }
        }

        .btn-wrapper {
            margin-top: 20px;
        }
    }
}

.our-partners {
    position: relative;
    padding: 40px 0 0;

    &__title {
        margin-bottom: 40px;

        h5 {
            color: $orange;

            a {
                color: inherit !important;
                text-decoration: underline !important;
                text-underline-offset: 3px;
            }
        }
    }

    &__swiper {
        padding: 120px 0 80px;
        background: rgb(243, 244, 246);

        @media only screen and (max-width: 767.98px) {
            padding: 80px 0 40px;
        }

        .swiper {
            padding: 0 32px;

            @media only screen and (max-width: 767.98px) {
                padding: 0 24px;

                .container {
                    padding: 0;
                }
            }

            .swiper-wrapper {
                .swiper-slide {
                    width: 100%;
                    max-width: 192px;

                    @media only screen and (max-width: 767.98px) {
                        max-width: 144px;
                    }

                    .image-wrapper {
                        border-radius: 4px;
                        overflow: hidden;

                        .image-ratio {
                            padding-top: 66.7%;

                            img {
                                object-fit: contain;
                            }
                        }
                    }
                }
            }
        }

        .swiper-navigations {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 16px;
            margin-top: 36px;

            .swiper-button-next,
            .swiper-button-prev {
                width: 42px;
                height: 42px;
                background: $themeColor;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $white;
                position: relative;
                top: unset;
                left: unset;
                bottom: unset;
                right: unset;
                transform: none;
                border-radius: 4px;
                margin: 0;

                svg,
                img {
                    width: 100%;
                    max-width: 24px;
                }

                &::after {
                    display: none;
                }
            }
        }
    }
}

.our-blogs {
    position: relative;
    padding: 40px 0;
    overflow: hidden;

    &__title {
        margin-bottom: 32px;

        h5 {
            color: $orange;

            a {
                color: inherit !important;
                text-decoration: underline !important;
                text-underline-offset: 3px;
            }
        }
    }

    &__swiper {
        .swiper {
            overflow: visible;

            .swiper-wrapper {
                .swiper-slide {
                    width: 100%;
                    max-width: 640px;

                    @media only screen and (max-width: 767.98px) {
                        max-width: 300px;
                    }
                }
            }
        }
    }

    &__navigations {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 24px;

        .swiper-navigations {
            display: flex;
            align-items: center;
            gap: 16px;

            .swiper-button-next,
            .swiper-button-prev {
                width: 42px;
                height: 42px;
                background: $themeColor;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $white;
                position: relative;
                top: unset;
                left: unset;
                bottom: unset;
                right: unset;
                transform: none;
                border-radius: 4px;
                margin: 0;

                svg,
                img {
                    width: 100%;
                    max-width: 24px;
                }

                &::after {
                    display: none;
                }
            }
        }
    }
}

.blog-card {
    border-radius: 4px;
    overflow: hidden;
    background: rgb(243, 244, 246);
    display: block;
    text-decoration: none !important;

    .image-wrapper {
        overflow: hidden;

        .image-ratio {
            padding-top: 56.3%;

            img {
                transform: scale(1.01);
                transition: .3s all ease
            }
        }
    }

    &:hover {
        .image-wrapper {
            .image-ratio {
                img {
                    transform: scale(1.05);
                }
            }
        }
    }

    .text-wrapper {
        padding: 20px;
        color: $themeColor;

        .the-timings {
            ul {
                list-style: none;
                margin: 0;
                display: flex;
                align-items: center;
                gap: 12px;
                margin-bottom: 10px;

                @media only screen and (max-width: 767.98px) {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 2px;
                }

                li {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                    font-size: 14px;

                    svg {
                        width: 100%;
                        max-width: 18px;
                        height: auto;
                    }
                }
            }
        }

        >p {
            margin-top: 8px;
        }

        .link-wrapper {
            margin-top: 12px;

            .read-more {
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: $themeColor;
                text-decoration: none !important;
                font-weight: 600;

                svg {
                    color: $orange;
                }
            }
        }
    }
}

.site-footer {

    &__inner {
        padding: 40px 0 0;
        background: rgb(31, 41, 55);
        color: $white;
    }

    a {
        color: inherit;
    }

    ul {
        li {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            gap: 8px;

            .icon-wrapper {
                width: 100%;
                max-width: 17px;
                font-size: 0;
                line-height: 0;

                svg,
                img {
                    width: 100%;
                    height: auto;
                }
            }

            a {
                color: inherit !important;
                text-decoration: none !important;
                font-weight: 300;

                &:hover {
                    text-decoration: underline !important;
                }
            }
        }
    }

    &__links {

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        h6 {
            margin-bottom: 16px;
            text-decoration: underline;
        }
    }

    &__contact {
        &:not(:last-child) {
            margin-bottom: 20px;
        }

        h6 {
            margin-bottom: 16px;
            text-decoration: underline;
        }

        ul {
            li {
                a {
                    text-decoration: underline !important;
                }
            }
        }
    }

    &__socials {
        margin-bottom: 20px;

        h6 {
            margin-bottom: 2px;
            text-decoration: underline;
        }

        ul {
            margin-top: 20px;

            li {
                a {
                    text-decoration: underline !important;
                }
            }
        }
    }

    &__image {
        width: 100%;
        max-width: 263px;
        margin: 0 auto;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__copyright {
        padding: 24px 0;

        .text-wrapper {

            @media only screen and (max-width: 767.98px) {
                text-align: center;
            }

            p {
                font-size: 14px;
                font-weight: 300;

                a {
                    text-decoration: none !important;

                    &:hover {
                        text-decoration: underline !important;
                    }
                }
            }
        }
    }
}

.fixed-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $themeColor;
    z-index: 999;

    &__inner {
        display: flex;
        align-items: flex-end;

        a {
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: $white;
            text-align: center;
            padding: 12px 8px 11px;
            font-size: 14px;
            text-decoration: none;
            gap: 4px;

            &:first-child,
            &:nth-child(2) {
                width: 24%;
            }

            &:nth-child(3),
            &:nth-child(4) {
                width: 26%;
            }

            &:not(:first-child) {
                border-left: 1px solid rgba($white, 0.2);
            }

            img {
                width: 100%;
                max-width: 20px;
            }
        }
    }
}